[ODBC Data Sources]
RyftODBC = RyftODBCDriver

[RyftODBC]
Description = Ryft Mac OS X ODBC Driver
Driver	    = _INSTALLDIR_/lib/libSimbaClient.dylib
Locale	    = en-US
SSLCertFile =
UseSsl	    = 0
ServerList  = _IPADDR_ _PORT_
